alembic==1.0.10
apispec==0.39.0
bcrypt==3.1.4
flask-admin==1.5.3
flask-apispec==0.7.0
flask-cors==3.0.6
flask-jwt-extended==3.11.0
Flask-Mail==0.9.1
flask-sqlalchemy==2.3.1
flask==1.0.2
marshmallow==2.18.0
pandas==0.23.4
passlib==1.7.1
psycopg2-binary==2.7.5
SQLAlchemy==1.1.13
sqlalchemy-filters==0.8.0